@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: your own global styles */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  background-color: #ffffff;
}
